
<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    Descriere produs: <strong>@Model.Description</strong>
    <br />
    <i class="glyphicon glyphicon-euro"></i> @Model.Price
    <br />
    <i class="glyphicon glyphicon-globe"></i> @Model.Category.Name
    <br />
    @if (User.IsInRole("Admin") || User.IsInRole("Contribuitor"))
    {
        <i class="glyphicon glyphicon-user"></i> <i>produs adaugat de </i>
        <strong> @Model.User.UserName </strong>
    }

</div>

