@model ClothingShop.Models.Product


<h2>Adaugare articol</h2>

@using (Html.BeginForm("New", "Products", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.Label("Title", "Titlu Produs")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })

    <br />
    <br />

    @Html.Label("Description", "Descriere Produs")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Price", "Pretul Produsului")
    <br />
    @Html.TextBox("Price", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    <br />
    <br />
    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />
    <label>Alegeti un fisier</label>
    <input type="file" name="uploadedFile" />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga produs</button>
}
